# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Models cache
.cache/
huggingface/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Backup Folders
backup/
1backup/

